.body {
    height: 100vh;
}

.jumbotron {
    background-color: #1b1e23;
    color: white;
    padding: 40px 50px 40px 50px;
    margin-top: 50px;
}

.footer {
    /* display: flex; */
    padding: 10px 10px 10px 10px;
    background-color: #1b1e23;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 10px; */
    color: white;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 5px 5px;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}

.footer-addres-icon {
    padding-right: 10px;
}
